{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<h1 class="page-header"><i class="fas fa-paint-brush fa-fw"></i> Art Gallery - {{server.name|title}}</h1>
<div id="main">
</div>
<div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4">
{% for gallery, artwork in art %}
  <div>
  <h2 class="text-xl font-bold mb-4">{{gallery|title|replace({'_':' '})}}</h2>
  {% for a in artwork %}
    <div class="border border-gray-300 mb-4 flex justify-between p-4">
    <a href="{{url_for('gallery.single',{server:server.name,md5:a.md5})}}"><img src="{{a.url}}" style="width: 128px; height: 128px;" class="pixel-img" /></a>
    <div class="pl-4 text-right">
      <span class="font-bold block leading-tight">{{a.title}}</span>
      {% if a.ckey %}<span>by {{a.ckey}}</span>{% endif %}
      <div>
      {% if  a.rating %}<span title="{{a.votes}} Votes">({{a.votes}})</span> <span class="text-xl font-bold mt-4">{{a.rating ?? '0.0'}}<span class="text-gray-300">/5</span></span>
      {% else %}
      <span class="text-xl mt-4 block">No Rating Yet</span>
      {% endif %}
      </div>
      <form class="star_rating text-xl" method="POST">
        <input type="hidden" class="sb_csrf_name" name="{{csrf.keys.name}}" value="{{csrf.name}}">
        <input type="hidden" class="sb_csrf_value" name="{{csrf.keys.value}}" value="{{csrf.value}}">
        <input type="hidden" name="artwork" value="{{a.md5}}">
          <div class="rating">
            <input id="{{a.md5}}_star5" name="rating" type="radio" value="5" class="radio-btn hide" />
            <label for="{{a.md5}}_star5">☆</label>
            <input id="{{a.md5}}_star4" name="rating" type="radio" value="4" class="radio-btn hide" />
            <label for="{{a.md5}}_star4">☆</label>
            <input id="{{a.md5}}_star3" name="rating" type="radio" value="3" class="radio-btn hide" />
            <label for="{{a.md5}}_star3">☆</label>
            <input id="{{a.md5}}_star2" name="rating" type="radio" value="2" class="radio-btn hide" />
            <label for="{{a.md5}}_star2">☆</label>
            <input id="{{a.md5}}_star1" name="rating" type="radio" value="1" class="radio-btn hide" />
            <label for="{{a.md5}}_star1">☆</label>
        </div>
    </form>
    </div>
    </div>
  {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}

{% block script %}
	<script src="/assets/js/artGallery.js?{{app.version}}"></script>
{% endblock %}
