{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<h1 class="page-header"><i class="fas fa-paint-brush fa-fw"></i> Art Gallery</h1>

	<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for s in servers %}
		<a href="{{url_for('gallery.server',{server:s.name})}}" class="big-nav-btn">
			<span class="title">
				<img src="/assets/img/{{s.name|lower}}.png" class="mx-auto w-1/4" />
				{{s.name}}
			</span>
		</a>
		{% endfor %}
	</div>
{% endblock %}
