{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
{% from 'macros/macros.twig' import pagination, roundLink %}
  <h1 class="page-header"><i class="fas fa-receipt fa-fw"></i> Citations</h1>
  <span class="text-xs">Citations from ongoing rounds are hidden</span>
  {{pagination(pagination.pages, pagination.currentPage, url_for('citations'))}}
  <div class="row mb-4 flex">
    <div class="w-1/2 text-right mr-2 pr-4 border-r border-gray-300">
      <p class="m-0">Security Has Charged</p>
      <span class="text-6xl font-black tabular-nums">{{standing.fine|format_number}}</span><span class="text-xl pl-2">cr.</span>
      <p>In Fines</p>
    </div>
    <div class="w-1/2 pl-2">
      <p class="m-0">Of Which</p>
      <span class="text-6xl font-black tabular-nums">{{standing.paid|format_number}}</span><span class="text-xl pl-2">cr.</span>
      <p>Have Been Paid</p>
    </div>
  </div>
  <table class="datatable">
  <tbody>
  {% for c in citations %}
  <tr>
    <td class="text-center align-middle leading-none py-2 pr-2 whitespace-nowrap">
    <a href="{{url_for('citation',{id:c.id})}}" class="link text-2xl font-bold  mb-2"><i class="fas fa-receipt fa-fw"></i>{{c.id}}</a>
    </td>
    <td>{{c.recipient}}</td>
    <td class="text-xs whitespace-nowrap">cited by</td>
    <td>{{c.sender_ic}}</td>
    <td><time class="whitespace-nowrap">{{c.timestamp}}</time></td>
    <td class="text-xs pr-2">for</td>
    <td class="font-mono">{{c.crime}}</td>
    <td class="text-xs whitespace-nowrap">and fined</td>
    <td class="tabular-nums whitespace-nowrap">{{c.fine}} cr.</td>
    {% if c.unpaid %}
    <td class="tabular-nums whitespace-nowrap">{{c.paid}} cr. <span class="text-xs">paid</span></td>
    {% else %}
    <td><span class="badge badge-success">Paid off</span></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
    {{pagination(pagination.pages, pagination.currentPage, url_for('citations'))}}
{% endblock %}
