{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block meta %}
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' http: https: data: blob: 'unsafe-inline' 'unsafe-eval'">
{% endblock %}
{% block page %}
	<h3 class="border-b border-gray-300 pb-4 mb-4 text-2xl font-bold">Live Ticket Feed</h3>
	<div id="ticket_feed"></div>
	<div class="flex flex-col">

		{% for t in tickets %}
			{% set class = '' %}
			{% switch t.class %}
				{% case 'success' %}
					{% set class = 'text-success' %}
				{% case 'danger' %}
					{% set class = 'text-danger' %}
				{% case 'warning' %}
					{% set class = 'text-warning' %}
				{% case 'info' %}
					{% set class = 'text-info' %}
				{% case 'primary' %}
					{% set class = 'text-primary' %}
			{% endswitch %}
			<dl class="flex mb-4 pb-4 border-b border-gray-300 ticket" id="{{t.id}}">
				<dt class="whitespace-nowrap text-right pr-3 tabular-nums">
					<a class="link" href="{{url_for('tgdb.ticket',{round: t.round, ticket: t.ticket})}}">#{{t.round}}-{{t.ticket}}</a>
					<span class="text-xs block text-gray-500">{{t.timestamp}}</span>
				</dt>
				<dd>
					<span class="whitespace-nowrap">
						<i class="fa fa-fw fa-{{t.icon}} {{class}} pr-3"></i>
						<strong>
							{{t.sender.displayName}}</strong>
						<strong>
							{{t.recipient.displayName}}</strong>
					</span>
					{{t.message}}
				</dd>
			</dl>
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
	<script src="/assets/js/ticketfeed/feed.js"></script>
{% endblock %}
