{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
{% from 'macros/macros.twig' import pagination, roundLink %}
<div class="text-2xl py-4">Showing tickets for {{roundLink(round)}}</a>
</div>
<hr class="mb-4">
{% if tickets %}
{{pagination(pagination.pages, pagination.currentPage, url_for('tgdb.ticket.round',{round:tickets[0].round}))}}
<div class="flex flex-col">
{% set url = 'tgdb.ticket' %}
{% for ticket in tickets %}
  {% include 'tickets/components/listing.twig' %}
	{% else %}
{% endfor %}
</div>
{{pagination(pagination.pages, pagination.currentPage, url_for('tgdb.ticket.round',{round:tickets[0].round}))}}
{% else %}
	<p class="text-gray-500 font-bold text-center">« No Results »</p>
{% endif %}
{% endblock %}
