{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
{% from 'macros/macros.twig' import roundLink %}
<div class="text-2xl py-4">Ticket #{{tickets[0].ticket}} from {{roundLink(tickets[0].round, tickets[0].server)}}
</div>
<hr class="mb-4 border-gray-300 dark:border-gray-700">
<div class="flex flex-col relative">
<div class="border-r-4 border-gray-300 dark:border-gray-700 absolute top-0 bottom-5 left-4 z-0"></div>
{% for ticket in tickets %}
{% if ticket.interval %}<p class="text-right mb-2 font-mono text-pink-500"><i class="fas fa-stopwatch"></i> {{ticket.interval}}</p>{% endif %}
{% if ticket.isAction %}
{% include 'tickets/components/action.twig' %}
{% else %}
	<div id="{{ticket.id}}" class="panel {% switch ticket.class %}
		{% case 'success' %}
		border-green-500
		{% case 'warning' %}
		border-yellow-500
		{% case 'danger' %}
		border-red-500
		{% case 'info' %}
		border-blue-500
    {% case 'secondary' %}
		border-black
		{% endswitch %}">
  <a href="#{{ticket.id}}"
	class="block panel-header {% switch ticket.class %} 
		{% case 'success' %}
		border-green-500
		{% case 'warning' %}
		border-yellow-500
		{% case 'danger' %}
		border-red-500
		{% case 'info'  %}
		border-blue-500
    {% case 'secondary' %}
		border-black
		{% endswitch %}"><i class="fas fa-fw fa-{{ticket.icon}} {% switch ticket.class %}
		{% case 'success'  %}
		text-green-500
		{% case 'warning' %}
		text-yellow-500
		{% case 'danger' %}
		text-red-500
		{% case 'info' %}
		text-blue-500
		{% endswitch %}"></i> 
    {% include 'tickets/components/ticket_header.twig' %}
    </a>
    <div class="panel-body">{{ticket.message|raw}}</div>

	</div>
  {% endif %}
{% endfor %}
</div>
{% if canPublicize %}
<div class="border-t border-gray-300 dark:border-gray-700 mt-4 pt-4">
	{% if publicityStatus.status %}
		<div class="mb-4">
		<h3 class="text-2xl mb-4 inline">This ticket is <strong>public</strong>.</h3> The URL is <span class="font-mono bg-gray-50 dark:bg-gray-700 rounded py-2 px-2 select-all	">{{full_url_for('publicticket',{identifier:publicityStatus.identifier})}}</span>
		</div>
	{% endif %}
	<form class="flex items-center" method="POST" action="{{current_url()}}">
	{% if canPublicize %}
	{% if publicityStatus.status %}
		<button class="btn btn-danger"><i class="fas fa-times pr-2"></i> Mark Private</button>
		<span class="pl-4">Marking this ticket private will disable the public link. The ticket will not be viewable by anyone except you or administrators</span>
		{% else %}
		<button class="btn btn-success"><i class="fas fa-check pr-2"></i> Mark Public</button>
		<span class="pl-4">Marking this ticket public will generate a unique link. The ticket can only be publicly viewed with the link</span>
		{% endif %}
		{% endif %}
	</form>
</div>
{% endif %}
{% endblock %}
