{% extends 'base/site.html' %}
{% block page %}
{% from 'macros/macros.twig' import userBadge %}
	<p class="text-xl">#{{ban.id}}:</p>
	<p class="text-center text-2xl">
		<strong>{{userBadge(ban.target)}}</strong>
		banned from
		<strong>{{ban.role}}</strong>
		by
		<strong>{{userBadge(ban.admin)}}</strong>
	</p>

	<p class="text-gray-400 text-sm">With reason:</p>
	<blockquote class="text-2xl py-1 my-4 pl-3 ml-3 border-l-4 border-gray-300 dark:border-gray-700 text-gray-600 dark:text-gray-200 leading-loose">{{ban.reason}}</blockquote>

	<p class="text-xl">This ban 
		{% if ban.active %}
			is <strong class="bg-red-500 text-white p-2 rounded-lg">Active</strong>
			and
			{% if not ban.expiration %}
				<strong class="uppercase font-extrabold text-white tracking-widest bg-pink-500 p-2 rounded-lg">permanent</strong>
			{% else %}
				expires 
				<strong><time>{{ban.expiration}}</time></strong>
			{% endif %}
		{% else %}
			{% if ban.unbanned_ckey %}
				is <strong class="bg-blue-500 text-white p-2 rounded-lg">Inactive</strong>
				and was lifted by
				<strong>{{userBadge(ban.unbanner)}}</strong> <time>{{ban.unbanned_datetime}}</time>
			{% else %}
				<strong class="bg-green-500 text-white p-2 rounded-lg">Expired</strong>
				<time>{{ban.expiration}}</time>
			{% endif %}
		{% endif %}
	</p>
	<p class="text-gray-400 my-4">This ban was placed during round
		<a href="https://sb.atlantaned.space/rounds/{{ban.round}}" class="text-blue-400 hover:text-blue-800" target="_blank" rel="noopener noreferrer">
			<i class="fas fa-circle"></i>
			{{ban.round}}
			<i class="fas fa-external-link-alt"></i>
		</a> on {{ban.server.name}} <time>{{ban.bantime}}</time>
	</p>
	<p class="text-gray-400">
	{% if ban.logs %}
  Logs for this round can be found at 
  <a href="{{ban.logs}}" target="_blank" rel="noopener noreferrer" class="text-blue-400 hover:text-blue-800">{{ban.logs}} <i class="fas fa-external-link-alt"></i></a>
 	{% else %}
	I could not reliably determine a suitable link for this rounds logs. Please check the round page at Statbus for further information.
	{% endif %}
	</p>
	{% if ban.roleBans %}
	<p class="text-gray-400 my-4"><strong>Head's Up!</strong> This ban applies to multiple roles. The following bans are grouped into this ban: {{ban.banIds}}</p>
	{% endif %}

	{% if not ban.appeal %}
		{% if unbaninfo %}
			<hr class="my-4 border-gray-300 dark:border-gray-700">
			{% include 'bans/components/unban_form.twig' %}
		{% endif %}
	{% else %}
		{% include 'bans/components/appeal.twig' %}
	{% endif %}
{% if not unbaninfo %}
<h2 class="border-b border-gray-300 dark:border-gray-700 pb-4 my-4 text-3xl font-bold">Edits</h2>
<section id="edits" class="edits mb-4 border-b border-gray-300 dark:border-gray-700 pb-4">
{% for edit in ban.edits %}
<p class="block mb-4">{{edit|raw}}</p>
{% else %}
<p class="text-center text-gray-400">« This ban has not been edited »</p>
{% endfor %}
</section>
{% endif %}
<p class="text-gray-500 text-xs mt-4 mb-2"><strong><i class="fas fa-hand-point-right"></i> Please be advised that:</strong></p>
<ul class="pl-2">
	<li class="text-gray-500 text-xs mb-2">All dates and times are in UTC</li>
	<li class="text-gray-500 text-xs mb-2">Banbus does not show bans by any criteria other than which ckey they are attached to. Banbus can not pull up bans that are attached solely to an IP address. Please consult an in-game administrator if a ban affecting you is not shown on Banbus.</li>
	<li class="text-gray-500 text-xs mb-2">Not all bans are placed during the round in which the bannable offense occurred. The correct round ID is usually noted in the banning reason.</li>
</ul>
{% endblock %}
