{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
{% if not user %}
    {% if modules.forum_auth %}
      <a href="{{url_for('auth')}}" class="big-nav-btn">
        <span class="text-4xl font-extrabold tracking-wide uppercase">
            <i class="fas fa-id-badge text-green-800"></i>
            Authenticate
        </span>
        <span class="subtitle">Old school TG forum auth</span>
      </a>
    {% endif %}
    {% if modules.discord_auth %}
    <a href="{{url_for('discord_auth')}}" class="big-nav-btn">
      <span class="text-4xl font-extrabold tracking-wide uppercase">
          <i class="fab fa-discord" style="color: #7289DA"></i>
          Discord Auth
      </span>
      <span class="subtitle">It's from the future!</span>
    </a>
    {% endif %}
  {% endif %}
  {% if user %}
  <a href="{{url_for('banbus.index')}}" class="big-nav-btn">
    <span class="title">
        <i class="fas fa-gavel text-yellow-800"></i>
        Banbus
    </span>
    <span class="subtitle">What did you do?!</span>
  </a>
  {% endif %}
  <a href="{{url_for('infobus')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-info-circle text-blue-400"></i>
        Infobus
    </span>
    <span class="subtitle">Pardon Our Dust</span>
  </a>
  <a href="https://sb.atlantaned.space" class="big-nav-btn" target="_blank" rel="noopener noreferrer">
    <span class="title">
        <i class="fas fa-chart-line text-green-300"></i>
        Statbus
    </span>
    <span class="subtitle">Legacy Edition</span>
  </a>
  <a href="{{url_for('rounds')}}" class="big-nav-btn">
    <span class="title">
        <i class="fas fa-circle text-gray-400"></i>
        Rounds
    </span>
    <span class="subtitle">Round Related Data</span>
  </a>
  <a href="{{url_for('library')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-book text-yellow-400"></i>
        The Library
    </span>
    <span class="subtitle">Be quiet</span>
  </a>
  <a href="{{url_for('citations')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-receipt text-purple-400"></i>
        Citations
    </span>
    <span class="subtitle">Pay the fine or serve your sentence</span>
  </a>
    <a href="{{url_for('citations')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-paint-brush text-red-400"></i>
        Gallery
    </span>
    <span class="subtitle">What even <em>is</em> art?</span>
  </a>
  <a href="https://badger.atlantaned.space" class="big-nav-btn" target="_blank" rel="noopener noreferrer">
      <span class="title">
        <i class="fas fa-id-card text-pink-400"></i>
        BadgeR
    </span>
    <span class="subtitle">Make Your Mark</span>
  </a>
  <a href="https://renderbus.s3.amazonaws.com/index.html" class="big-nav-btn" target="_blank" rel="noopener noreferrer">
      <span class="title">
        <i class="fas fa-map-marked-alt text-pink-400"></i>
        Renderbus
    </span>
    <span class="subtitle">Find Your Way</span>
  </a>
  {% if user.hasPermission('ADMIN') %}
    <a href="{{url_for('tgdb')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-user-secret text-red-400"></i>
        Tee Gee Dee Bee
    </span>
    <span class="subtitle">Secret Club</span>
  </a>
  {% endif %}
</div>
<hr class="border-gray-300 dark:border-gray-700 my-4">
<article class="prose dark:prose-light mx-auto lg:prose-lg xl:prose-2xl">
  <strong>Statbus</strong> is a collection of tools for working with the <a href="https://tgstation13.org/" class="link" target="_blank" rel="noopener noreferrer">TGStation</a> database. Much of the content is user-generated, un-filtered and un-moderated. Any statements expressed here in no way reflect my personal feelings. By proceeding you acknowledge that you may encounter content that may be objectionable or harmful.
</article>

{% endblock %}
