{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
{% if not user %}
  <a href="{{url_for('auth')}}" class="big-nav-btn">
    <span class="text-4xl font-extrabold tracking-wide uppercase">
        <i class="fas fa-id-badge text-green-800"></i>
        Authenticate
    </span>
  </a>
  {% endif %}
  <a href="{{url_for('banbus.index')}}" class="big-nav-btn">
    <span class="title">
        <i class="fas fa-gavel text-yellow-800"></i>
        Banbus
    </span>
    <span class="subtitle">What did you do?!</span>
  </a>
  <a href="{{url_for('infobus')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-info-circle text-blue-400"></i>
        Infobus
    </span>
    <span class="subtitle">Pardon Our Dust</span>
  </a>
  <a href="https://sb.atlantaned.space" class="big-nav-btn" target="_blank" rel="noopener noreferrer">
    <span class="title">
        <i class="fas fa-chart-line text-green-300"></i>
        Statbus
    </span>
    <span class="subtitle">Legacy Edition</span>
  </a>
  <a href="{{url_for('rounds')}}" class="big-nav-btn">
    <span class="title">
        <i class="fas fa-circle text-gray-400"></i>
        Rounds
    </span>
    <span class="subtitle">Round Related Data</span>
  </a>
  <a href="{{url_for('library')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-book text-yellow-400"></i>
        The Library
    </span>
    <span class="subtitle">Be quiet</span>
  </a>
  {% if user.hasPermission('ADMIN') %}
    <a href="{{url_for('tgdb')}}" class="big-nav-btn">
      <span class="title">
        <i class="fas fa-user-secret text-red-400"></i>
        Tee Gee Dee Bee
    </span>
    <span class="subtitle">Secret Club</span>
  </a>
  {% endif %}
</div>

{% endblock %}
