<a href="{{url_for(url,{'id':ban.id})}}" class="mb-4 flex items-center justify-between border {{ban.active ? 'border-red-200 dark:border-red-800':'border-green-200 dark:border-green-800'}} {{ban.active ? 'bg-red-100 dark:bg-red-900':'bg-green-100 dark:bg-green-900'}} {{ban.active ? 'hover:bg-red-300 dark:hover:bg-red-700':'hover:bg-green-300 dark:hover:bg-green-700'}} transition p-4">
<div>
    <p><strong>{{ban.ckey}}</strong> banned from <strong>{{ban.role}}</strong> by <strong>{{ban.a_ckey}}</strong> during Round #{{ban.round}} with reason:</p>
    <p class="py-1 my-2 pl-3 ml-3 border-l-4 border-gray-300 text-gray-600 dark:text-gray-200">{{ban.reason}}</p>
    <p>This ban is
    {% if ban.active %}
    <strong class="bg-red-500 text-white p-2 rounded-lg">Active</strong> and
      {% if not ban.expiration %}<strong class="uppercase font-extrabold text-white tracking-widest bg-pink-500 p-2 rounded-lg">permanent</strong> 
      {% else %} expires at <strong>{{ban.expiration}}</strong>
      {% endif %}
    {% else %}
      {% if ban.unbanned_ckey %}<strong class="bg-blue-500 text-white p-2 rounded-lg">Inactive</strong> and was lifted by <strong>{{ban.unbanned_ckey}}</strong>
      {% else %}<strong class="bg-green-500 text-white p-2 rounded-lg">Expired</strong> as of 
      {% endif %}<time>{{ban.expiration}}</time>
    {% endif %}
    </p>
  </div>
</a>