{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
{% from 'macros/macros.twig' import userBadge, pagination %}
{{pagination(pagination.pages, pagination.currentPage, url_for('adminlogs'))}}

<table class="relative w-full">
  <thead>
    <tr>
      <th class="sticky top-0">Log ID</th>
      <th class="sticky top-0">When</th>
      <th class="sticky top-0">Admin</th>
      <th class="sticky top-0">Action</th>
      <th class="sticky top-0">Target</th>
      <th class="sticky top-0">Log Entry</th>
    </tr>
  </thead>
  <tbody>
  {% for l in logs %}
    <tr class="tr-{{l.class}}" id="{{l.id}}">
      <td class="whitespace-nowrap"><a href="#{{l.id}}" class="link">{{l.id}}</th>
      <td class="whitespace-nowrap"><time>{{l.datetime}}</time></td>
      <td class="whitespace-nowrap">{{userBadge(l.admin)}}</td>
      <td class="whitespace-nowrap"><i class="fas fa-fw fa-{{l.icon}}"></i> {{l.operation|title}}</td>
      <td class="whitespace-nowrap">{{l.target}}</td>
      <td>{{l.log}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
