{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<h2 class="text-xl font-bold">Update Your Feedback Link</h2>
<p>Paste in the URL to your feedback thread below. This link will show up on the <a class="link" href="{{url_for('adminwho')}}">admin listing</a> and in the in-game <span class="font-mono">adminwho</span> command (at some point in the future).</p>
<form action="" method="POST" class="form">
  <div class="flex gap-2 pt-2">
    <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
    <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
    <input name="link" type="text" placeholder="Paste your feedback link here" class="block w-full mr-1" {% if user.feedback %} value="{{user.feedback}}" {% endif %}/>
    <button class="btn btn-success flex-grow whitespace-nowrap">Update Link</button>
</form>
{% endblock %}

{% block script %}{% endblock %}
