{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<h2 class="font-black	tracking-widest text-4xl inline">{{player.ckey}}</h2><span>Last seen <time>{{player.lastseen}}</time>

<nav class="text-lg font-bold">
	<ul>
		<li><a href="{{url_for('tgdb.player.tickets',{ckey: player.ckey})}}" class="link">View Player Tickets</a></li>
	</ul>
</nav>
{% endblock %}