    <h2 class="block font-bold text-xl mb-4 font-mono">
      <small class="text-sm block">#{{ stat.id }} Recorded <time>{{stat.datetime}}</time></small>
      {{ stat.key_name }}
      <small class="text-xs text-gray-500"
        >v.{{ stat.version }} type:{{ stat.key_type }}</small
      >
    </h2>