<aside id="messages">
{% if messages is defined and messages %}
  {% for message in messages %}
    {% if 'success' == message.type %}
      <div class="alert alert-success">{% apply markdown_to_html %}{{message.text}}{% endapply %}
      </div>
    {% elseif 'danger' == message.type %}
      <div class="alert alert-danger">{% apply markdown_to_html %}{{message.text}}{% endapply %} 
      </div>
    {% else %}
      <div class="alert alert-info">{% apply markdown_to_html %}{{message.text}}{% endapply %} 
      </div>
    {% endif %}
  {% endfor %} 
{% endif %}
{% for type, messages in flash %}
  {% for message in messages %}
    {% if 'Success' == type %}
      <div class="alert alert-success">{% apply markdown_to_html %}{{message}}{% endapply %} 
      </div>
    {% elseif 'danger' == type %}
      <div class="alert alert-danger">{% apply markdown_to_html %}{{message}}{% endapply %}
      </div>
    {% else %}
      <div class="alert alert-info">{% apply markdown_to_html %}{{message}}{% endapply %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %} 
</aside>