{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
	{% from 'macros/macros.twig' import userBadge %}
	<div class="flex items-center mb-4">
	<h2 class="text-2xl inline">{{userBadge(player.userData)}}</h2>
	<span>Last seen
		<time>{{player.lastseen}}</time>
		|
		<a class="link" href="http://www.byond.com/members/{{player.ckey}}" target="_blank" rel="noopener noreferrer">
			<i class="fas fa-external-link-alt"></i>
			Byond</a>
		|
		<a class="link" href="https://tgstation13.org/tgdb/playerdetails.php?ckey={{player.ckey}}" target="_blank" rel="noopener noreferrer">
			<i class="fas fa-external-link-alt"></i>
			tgdb</a>
		|
		<a class="link" href="https://scrubby.melonmesa.com/ckey/{{player.ckey}}" target="_blank" rel="noopener noreferrer">
			<i class="fas fa-external-link-alt"></i>
			Scrubby</a>
		| 
		<a class="link" href="https://centcom.melonmesa.com/viewer/view/{{player.ckey}}" target="_blank" rel="noopener noreferrer">
		<i class="fas fa-external-link-alt"></i>
		CentCom</a>
		</span>
	</div>
		<nav class="grid md:grid-cols-4 gap-2">
			<a href="{{url_for('tgdb.player.tickets',{ckey: player.ckey})}}" class="small-nav-btn">
				<span>Tickets</span>
				<i class="fas fa-ticket-alt"></i>
			</a>
			<a href="{{url_for('tgdb.player.messages',{ckey: player.ckey})}}" class="small-nav-btn">
				<span>Messages ({{player.messages|length}})</span>
				<i class="fas fa-envelope-open-text"></i>
			</a>
			<a href="{{url_for('tgdb.player.bans',{ckey: player.ckey})}}" class="small-nav-btn {% switch player.standing.class %}
				{% case 'perma' %}
				text-pink-900 bg-pink-300
				{% case 'danger' %}
				text-red-900 bg-red-300
				{% default %}
				text-green-900 bg-green-300
				{% endswitch %}">
				<span>Bans ({{player.standing.bans|length}} active)</span>
				<i class="fas fa-ban"></i>
			</a>
			<a class="small-nav-btn">
				<span>Rounds</span>
				<i class="fas fa-circle"></i>
			</a>
		</nav>
		<div class="grid grid-cols-2">
			<div>
				<h2 class="my-3 font-bold text-xl">Permissions</h2>
				<table class="table border-collapse relative">
					<thead>
						<tr>
							{% for p in perms|keys %}
							<th class="top-0 text-right align-text-bottom">
								<span class="transform rotate-180" style="writing-mode: vertical-lr">
								{{p}}
								</span>
							</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
							<tr>
								{% for name, bits in perms %}
									{% if player.userData.flags b-and bits %}
									<td class="td-success text-center text-lg leading-none" data-toggle="tooltip" title="{{player.ckey}} has {{name}}"><i class="far fa-check-circle"></i></td>
									{% else %}
									<td class="td-danger text-center text-lg leading-none" data-toggle="tooltip" title="{{player.ckey}} does not have {{name}}"><i class="far fa-times-circle"></i></td>
									{% endif %}
								{% endfor %}
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}
