{% macro userBadge(user, extraClasses = '') %}
<span
class="badge {{extraClasses}} userPopover" data-rank="{{user.rank.title}}" data-target-ckey="{{user.getCkey()}}"
style="background: {{user.rank.backColor}}; color:{{user.rank.foreColor}}">
  <i class="fas fa-fw fa-{{user.rank.icon}}"></i> {{user.displayName}}
</span>
{% endmacro %}

{% macro roundLink(id, server = false) %}
<a class="link roundPopover" href="https://sb.atlantaned.space/rounds/{{id}}" data-round-id="{{id}}"><i class="fa fa-fw fa-circle"></i> {{id}}</a>
<div id="round-{{id}}-popover" style="display: none">
    <strong class="block"><i class="fa fa-fw fa-circle"></i> {{id}} {% if server %} on {{server.name}} {% endif %}</strong>
    <hr class="mt-1 mb-2">
    <a class="link" href="https://sb.atlantaned.space/rounds/{{id}}" target="_blank" rel="noopener noreferrer">Statbus</a><br>
    <a class="link" href="https://scrubby.melonmesa.com/round/{{id}}/" target="_blank" rel="noopener noreferrer">Scrubby</a>
    {% if user.hasPermission('BAN') %}
    <hr class="my-2">
    <a class="link" href="{{url_for('tgdb.ticket.round',{round:id})}}"><i class="fas fa-ticket-alt"></i> Tickets</a> 
    • <a class="link" href="#"><i class="fas fa-envelope-open-text"></i> Messages</a> 
    • <a class="link" href="#"><i class="fas fa-ban"></i> Bans</a>
    {% endif %}
</div>
{% endmacro %}

{% macro pagination(nbPages = 5, currentPage = 1, url = 'home') %}
<div class="pagination_container flex justify-between items-center my-4">
    <span class="">Page <strong>{{currentPage}}</strong> of <strong>{{nbPages}}</strong></span>
{% set classes = '' %}
  {% set param = '' %}
  {% if not query %}
      {% set query = '' %}
  {% endif %}
  {% if nbPages > 1 %}
      {# Number of page around current page+1 #}
      {% set nearbyPagesLimit = 5 %}
          <nav class="pagination inline-flex -space-x-px float-right">
              {% if currentPage != 1 %}
                  <a class="{{classes}}" href="{{url}}{{query}}">First</a>
              {% endif %}
              {% for i in 1..nbPages %}
                  {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                  {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                  {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                  {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                  {% else %}
                          <a class="{{classes}}" href="{{url}}{{param}}/page/{{loop.index}}{{query}}">{{ loop.index }}</a>
                  {% endif %}
              {% endfor %}
              {% if currentPage != nbPages %}
                  <a class="{{classes}} {% if currentPage == loop.index  %} {% endif %}" href="{{url}}{{param}}/page/{{nbPages}}{{query}}">Last</a>
              {% endif %}
          </nav>
  {% endif %}
</div>
{% endmacro %}